.post-details-container {
	padding: 2em;
	background-color: var(--light-mode-background-color);
	color: var(--light-mode-font-color);
}

.post-details-container .post-title {
	margin-top: 60px;
	margin-bottom: 50px;
	text-align: center;
	font-size: 2.6rem;
}

.post-details-container .post-body {
	padding: 3em;
	line-height: 1.75em;
	font-size: 2.4rem;
}

/* dark mode */

.post-details-container.dark {
	background-color: var(--dark-mode-background-color);
	color: var(--dark-mode-font-color);
}
