.change-mode {
	height: 40px;
	width: 40px;
	margin-right: auto;
	padding: 0.5em;
	border-radius: 50%;
	cursor: pointer;
	transition: 0.3s;
}

.change-mode.dark:hover {
	background-color: #555;
}

.change-mode.light:hover {
	background-color: #ccc;
}

.change-mode img {
	width: 100%;
}
