/* login btn */

.navigation .login-btn {
	width: 100px;
	filter: invert(10%);
	border: 1px solid #ddd;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	transition: 0.3s;
}

.navigation.light .login-btn:hover {
	background-color: var(--light-mode-background-color-hover);
}

/* dark mode */

.navigation.dark .login-btn:hover {
	background-color: var(--dark-mode-background-color-hover);
	color: var(--dark-mode-font-color);
}
