.change-mode {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: auto;
	height: 40px;
	width: 40px;
	padding: 0.5em;
	border-radius: 50%;
	transition: 0.3s;
	cursor: pointer;
}

.change-mode.light:hover {
	background-color: var(--light-mode-background-color-hover);
}

.change-mode img {
	height: 30px;
	width: 30px;
}

/* dark mode */

.change-mode.dark:hover {
	background-color: var(--dark-mode-background-color-hover);
}
