.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 4rem;
}

.navigation a {
	display: inline-block;
	margin-left: 4px;
	padding: 1.2rem;
	color: inherit;
	font-size: 2rem;
	text-decoration: none;
	translate: 1s;
}

.navigation a:hover {
	transform: scale(1.1);
}

.navigation a:focus {
	border-bottom: 2px solid #ddd;
}
