.navigation {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 5vh;
	background-color: #222;
	box-sizing: content-box;
	padding: 2em;
}

.navigation a {
	display: inline-block;
	margin-left: 4px;
	padding: 1.2rem;
	font-size: 2rem;
	text-decoration: none;
	color: inherit;
}

.navigation .activeLink {
	border-bottom: 2px solid #ddd;
}
