:root {
	--dark-mode-font-color: #ddd;
	--dark-mode-background-color: #333;

	--light-mode-font-color: #333;
	--light-mode-background-color: #ddd;

	--dark-mode-background-color-hover: #555;
	--light-mode-background-color-hover: #ccc;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #333;
	font-family: sans-serif;
	color: #ddd;
}

#root {
	margin: 0 auto;
	max-width: 1440px;
}
